# .gitignore: whitelist for untracked files - see gitignore(5)

/**
!/README.md
!/asoundrc
!/awesome
!/awesome/rc.lua
!/bash_completion
!/bash_completion.d
!/bash_completion.d/**
!/bash_logout
!/bash_profile
!/bashrc
!/bashrc.d
!/bashrc.d/**
!/colors
!/colors/**
!/compton.conf
!/devilspie2
!/devilspie2/**
!/dircolors
!/elinks
!/elinks/elinks.conf
!/environment.d
!/environment.d/**
!/gnupg
!/gnupg/dirmngr.conf
!/gnupg/gpg-agent.conf
!/gnupg/gpg.conf
!/inputrc
!/inputrc.d
!/inputrc.d/**
!/mpd
!/mpd/mpd.conf
!/mpv
!/mutt
!/nanorc
!/ncmpcpp
!/ncmpcpp/config
!/nvim
!/nvim/init.vim
!/oh-my-zsh
!/oh-my-zsh/custom
!/oh-my-zsh/custom/themes
!/oh-my-zsh/custom/themes/hello-world.zsh-theme
!/pam_environment
!/profile
!/profile.d
!/profile.d/**
!/ranger
!/ranger/commands.py
!/ranger/rc.conf
!/ranger/rifle.conf
!/ranger/scope.sh
!/rofi
!/rofi/config
!/rofi/themes
!/rofi/themes/**
!/surfraw
!/surfraw/conf
!/tmux.conf
!/tmuxline.conf
!/user-dirs.dirs
!/user-dirs.locale
!/user-tmpfiles.d
!/user-tmpfiles.d/**
!/vim
!/vim/colors
!/vim/colors/**
!/vim/syntax
!/vim/syntax/**
!/vim/vimrc
!/w3m
!/xinitrc
!/xinitrc.d
!/xinitrc.d/**
!/Xresources
!/Xresources.d
!/Xresources.d/**
!/xserverrc
!/zsh
!/zshenv
!/zshrc
