# .gitignore: repository allowlist
# see gitignore(5)

# Ignore everything except directories
*
!*/

# Now specify the files we want to track

!/.gitignore
!/.gitmodules

!/README.md

!/install-dotfiles.sh

!/asoundrc

!/alacritty/*.toml
!/alacritty/*.yaml
!/alacritty/*.yml
!/alacritty/colorschemes
!/alacritty/themes

!/bash_completion
!/bash_logout
!/bash_profile
!/bashrc
!/bash_completion.d/**
!/bashrc.d/**

!/bat/config
!/bat/themes
!/bat/themes/**

!/colorschemes/**

!/dircolors

!/environment.d/**

!foot/*.ini
!foot/colorschemes

!/fzf/fzfrc
!/fzf/*.bash
!/fzf/*.fish
!/fzf/*.sh
!/fzf/*.zsh

!/git/config
!/git/ignore

!/gnupg/dirmngr.conf
!/gnupg/gpg-agent.conf
!/gnupg/gpg.conf

!/inputrc
!/inputrc.d/**

!kitty/*.conf
!kitty/colorschemes
!kitty/themes

!/mcphub/servers.json

!/mpd/mpd.conf

!/ncmpcpp/config

!/noctalia/*.json

!/npmrc

!/nvim/autoload
!/nvim/colors
!/nvim/init.vim
!/nvim/init.lua
!/nvim/lua/**

!/ohmyzsh/

!/profile
!/profile.d/**

!/pythonrc.py

!/ranger/*.conf

!/ripgreprc

!/starship.toml
!/starship/**

!/systemd/user/*.service
!/systemd/user/*.socket

!/termux/colorschemes
!/termux/themes
!/termux/colors.properties
!/termux/termux.properties

!/tmux.conf
!/tmux/tmux.conf
!/tmux/colorschemes
!/tmux/themes
!/tmux/theme.default.conf
/tmux/plugins/

!/user-dirs.dirs
!/user-dirs.locale

!/user-tmpfiles.d/**

!/vim/autoload/**
!/vim/colorschemes
!/vim/vimrc
/vim/plug/

!/vivid/themes/*

!/xinitrc
!/xinitrc.d/*.sh

!/xprofile
!/xserverrc
!/xsession

!/Xresources
!/Xresources.d/**

!/zlogin
!/zlogout
!/zprofile
!/zshenv
!/zshrc

!/yazi/flavors/*/**
!/yazi/plugins/*/**
!/yazi/package.toml
!/yazi/theme.toml
/yazi/packages/
