[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/patrickdeyoreo/ohmyzsh.git
	branch = personal
[submodule "tmux-plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "dots-hyprland"]
	path = dots-hyprland
	url = https://github.com/end-4/dots-hyprland
	branch = master
