
!/pam_mount.conf.xml
#
## .gitignore
#


## Blacklist

/**


## Whitelist

!/asoundrc

!/awesome/
!/awesome/rc.lua

!/bash_logout

!/bash_profile

!/bashrc

!/bashrc.d/**

!/compton.conf

!/cower/
!/cower/config

!/devilspie2/**

!/dircolors

!/elinks/
!/elinks/elinks.conf

!/gnupg/
!/gnupg/dirmngr.conf
!/gnupg/gpg-agent.conf
!/gnupg/gpg.conf

!/gpick/
!/gpick/colordict00

!/inputrc

!/mpd/
!/mpd/mpd.conf

!/mpv/

!/mutt/

!/nanorc

!/ncmpcpp/
!/ncmpcpp/config

!/pam_environment

!/profile

!/ranger/**

!/README.md

!/screenrc

!/surfraw/**

!/tmux.conf

!user-dirs.dirs
!user-dirs.locale

!/user-tmpfiles.d/**

!/vim/
!/vim/vimrc
!/vim/colors/**

!/xinitrc
!/xinitrc.d/**

!/Xresources
!/Xresources.d/**

!/xserverrc

!/zshrc
