[Desktop Entry]
Type=Application
Name=devilspie2
Exec=devilspie2
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-AutoRestart=true
