[Desktop Entry]
Name=devilspie2
Exec=devilspie2
Type=Application
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-AutoRestart=true
