[Unit]
Description=Watch ~/.config/background, clear swww cache and update background images
After=graphical-session.target hyprland-session.target

[Service]
ExecStart=%h/.config/hyprcandy/hooks/watch_background.sh
Restart=on-failure

[Install]
WantedBy=graphical-session.target
