[Unit]
Description=Execute a detached tmux session
Documentation=man:tmux(1)

[Service]
Type=forking
ExecStartPre=/usr/bin/tmux start-server
ExecStart=-/usr/bin/tmux new-session -d -s %U -t %u
ExecReload=/usr/bin/tmux kill-session -C -t %u-%U
ExecStop=/usr/bin/tmux kill-session -t %u-%U
#ExecStopPost=/usr/bin/tmux kill-server
Restart=always

[Install]
WantedBy=default.target
