[Unit]
Description=Terminal Multiplexer (listen on: %i)
Documentation=man:tmux(1)
Requires=tmux@%i.socket

[Service]
Environment=TMUX_TMPDIR=%T
Type=exec
ExecStart=tmux -D
ExecStartPost=tmux -L%i start-server \; new-session -d -s main -t %i
Slice=tmux-%i.slice

[Install]
WantedBy=default.target
Also=tmux@%i.socket
