[Unit]
Description=Start a urxvtd daemon
Documentation=man:urxvtd(1)

[Service]
Type=forking
ExecStart=/usr/bin/urxvtd -q -f
Restart=always

[Install]
WantedBy=default.target
